wheel
transformers
torch 
torchvision 
torchaudio
flash-attn
accelerate
sentence_transformers
gensim
pandas
datasets
scikit-learn
openai
ollama
datasets
umap-learn
hdbscan
pandas
matplotlib
bertopic
huggingface_hub
datamapplot
